/***************************************
* Estilo Seção Equipamentos
*/
table.tabEquip {
 width: 510px;
 border: 1px solid;
 font-size: 14px;
 margin-bottom: 10px;
 border-collapse: separate;
}
table.tabEquip td, table.tabEquip th {
 padding: 10px;
 border: 1px solid;
}
table.tabEquip td {
 font-size: 12px;
 background-color: #EEEEBB;
}
th.tabTitulo {
 color: #FFFFFF;
 background-color: #402020;
}
th.tabSubTit{
 color: #FFFFFF;
 background-color: #802020;
}
.tabEquip .imgCel {
 width: 100px;
 background-color: #FFFFFF;
}
.imgCel img {
 width: 100px;
 height: 100px;
}
